
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Ikasleak API</title>
    <script>
        async function fetchIkasleak() {
            const response = await fetch('/api/ikasleak');
            const data = await response.json();
            document.getElementById('ikasleak').innerText = JSON.stringify(data, null, 2);
        }

        async function createIkasle() {
            const izena = document.getElementById('izena').value;
            const adina = document.getElementById('adina').value;
            const email = document.getElementById('email').value;

            const response = await fetch('/api/ikasleak', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ izena, adina, email })
            });

            const data = await response.json();
            document.getElementById('newIkasle').innerText = JSON.stringify(data, null, 2);
            fillForm();
            changeIkasleak();
        }

        async function deleteIkasle() {
        const id = document.getElementById("ikasleID").value;

        const response = await fetch(`/api/ikasleak/${id}`, {
          method: "DELETE",
        });

        const data = await response.json();
        document.getElementById("deletedIkasle").innerText = JSON.stringify(
          data,
          null,
          2
        );
        fillForm();
        changeIkasleak();
        }

        async function editIkasle() {
            const izena = document.getElementById('izena2').value;
            const adina = document.getElementById('adina2').value;
            const email = document.getElementById('email2').value;
            const id = document.getElementById('email-form').value;

            const response = await fetch(`/api/ikasleak/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ izena, adina, email })
            });

            const data = await response.json();
            document.getElementById('editedIkasle').innerText = JSON.stringify(data, null, 2);
            fillForm();
            changeIkasleak();
        }

        async function changeFormValues() {
            const id = document.getElementById('email-form').value;

            const response = await fetch(`/api/ikasleak/${id}`);
            const ikaslea = await response.json();

            document.getElementById('izena2').value = ikaslea.izena;
            document.getElementById('adina2').value = ikaslea.adina;
            document.getElementById('email2').value = ikaslea.email;
        }

        async function fillForm() {
            const editForm = document.getElementById('email-form');
            const izena = document.getElementById('izena2');
            const adina = document.getElementById('adina2');
            const email = document.getElementById('email2');

            editForm.innerHTML = '';
            izena.value = '';
            adina.value = '';
            email.value = '';

            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.innerText = 'Choose an ikasle';
            defaultOption.disabled = true;
            defaultOption.selected = true;
            editForm.appendChild(defaultOption);

            const ikasleak = await fetch('/api/ikasleak').then(response => response.json());
            ikasleak.forEach(ikasle => {
                let option = document.createElement('option');
                option.value = ikasle._id;
                option.innerText = ikasle.email;
                editForm.appendChild(option);
            });
        }

        async function createTalde() {
            const izena = document.getElementById('taldeIzena').value;

            const response = await fetch('/api/taldeak', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ izena })
            });

            const data = await response.json();
            document.getElementById('createdTalde').innerText = JSON.stringify(data, null, 2);
            changeTaldeak();
        }

        async function assignIkasle() {
            const taldeId = document.getElementById('talde-ikasle').value;
            const ikasleId = document.getElementById('Ikasle').value;

            const response = await fetch('/api/taldeak/assign', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ taldeId, ikasleId })
            });

            const data = await response.json();
            document.getElementById('assignedIkasle').innerText = JSON.stringify(data, null, 2);
        }

        async function changeTaldeak() {
            const taldeak = await fetch('/api/taldeak').then(response => response.json());
            const taldeComboBox = document.getElementById('talde-ikasle');

            taldeComboBox.innerHTML = '';

            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.innerText = 'Choose a Talde';
            defaultOption.disabled = true;
            defaultOption.selected = true;
            taldeComboBox.appendChild(defaultOption);

            taldeak.forEach(talde => {
                let option = document.createElement('option');
                option.value = talde._id;
                option.innerText = talde.izena;
                taldeComboBox.appendChild(option);
            });
        }

        async function changeIkasleak(){
            const ikasleak = await fetch('/api/ikasleak').then(response => response.json());
            const ikasleComboBox = document.getElementById('Ikasle');

            ikasleComboBox.innerHTML = '';

            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.innerText = 'Choose an Ikasle';
            defaultOption.disabled = true;
            defaultOption.selected = true;
            ikasleComboBox.appendChild(defaultOption);

            ikasleak.forEach(ikasle => {
                let option = document.createElement('option');
                option.value = ikasle._id;
                option.innerText = ikasle.email;
                ikasleComboBox.appendChild(option);
            });
        }

        async function getTaldeak() {
            const response = await fetch('/api/taldeak').then(response => response.json());
            document.getElementById('taldeak').innerText = JSON.stringify(response, null, 2);
        }



        window.onload = () => {
            fillForm();
            changeTaldeak();
            changeIkasleak()
            document.getElementById('email-form').addEventListener('change', changeFormValues);
        };
    </script>
</head>
<body>
    <h1>Test Ikasleak API</h1>
    <button onclick="fetchIkasleak()">Get Ikasleak</button>
    <pre id="ikasleak"></pre>

    <h2>Create Ikasle</h2>
    <form onsubmit="event.preventDefault(); createIkasle();">
        <label for="izena">Izena:</label>
        <input type="text" id="izena" name="izena" required>
        <br>
        <label for="adina">Adina:</label>
        <input type="number" id="adina" name="adina" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <button type="submit">Create</button>
    </form>
    <pre id="newIkasle"></pre>

    <h2>Delete Ikasle</h2>
    <form onsubmit="event.preventDefault(); deleteIkasle();">
        <label for="ikasleID">Ikasle ID:</label>
        <input type="text" id="ikasleID" name="ikasleID" required>
        <button type="submit">Delete</button>
    </form>
    <pre id="deletedIkasle"></pre>

    <h2>Edit Ikasle</h2>
    <form onsubmit="event.preventDefault(); editIkasle();">
        <label for="email">Ikasle Email:</label>
        <select id="email-form" name="email" required>
        </select>
        <br>
        <label for="izena">Izena:</label>
        <input type="text" id="izena2" name="izena" required>
        <br>
        <label for="adina">Adina:</label>
        <input type="number" id="adina2" name="adina" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email2" name="email" required>
        <br>
        <button type="submit">Edit</button>
    </form>
    <pre id="editedIkasle"></pre>
    <br>
    <h2>Create Talde</h2>
    <form onsubmit="event.preventDefault(); createTalde();">
        <label for="taldeIzena">Talde Izena:</label>
        <input type="text" id="taldeIzena" name="taldeIzena" required>
        <button type="submit">Create</button>
    </form>
    <pre id="createdTalde"></pre>
    <br>
    <h2>Assign Ikasle to Talde</h2>
    <form onsubmit="event.preventDefault(); assignIkasle();">
        <label for="talde">Talde:</label>
        <select id="talde-ikasle" name="talde-ikasle" required>
        </select>
        <br>
        <label for="ikasle">Ikasle:</label>
        <select id="Ikasle" name="Ikasle" required>
        </select>
        <br>
        <button type="submit">Assign</button>
    </form>
    <pre id="assignedIkasle"></pre>
    <br>
    <h2>Get Taldeak</h2>
    <button onclick="getTaldeak()">Get Taldeak</button>
    <pre id="taldeak"></pre>

</body>
</html>